
.page_container {
    padding: 24px;
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.ticker_wrapper {
    width: 100%;
    max-width:1000px;
}
.ticker_header {
    width: 100%;
    display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.ticker_container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	row-gap: 24px;
	column-gap: 12px;
	flex-wrap: wrap;
}
